MODEL/
train_out/

# vibe coding
# .claude/

# linting
.pytest_cache/
.ruff_cache/

# pycache
__pycache__/
*.py[cod]
*$py.class

# installed packages
*.dist-info/
*.egg-info/

# json files
*.json
*.jsonl

# profiling data
*.nsys-rep
*.ncu-rep

# binaries
build/
dist/
*.tar.gz

# virtual environment
.venv/

# clangd config
.clangd

# misc
htmlconv/
.coverage
.vscode/
